#rwe-gallery img {
	box-shadow: none;
}
#rwe-gallery li:before {
	display:none;
}
.rwe-size-100 li a {
	width: 110px;
}
.rwe-size-100 li a img {
	width: 100px;
}
.rwe-size-200 li a {
	width: 210px;
}
.rwe-size-200 li a img {
	width: 200px;
}
#rwe-gallery ul.rwe-breadcrumb {
	margin: 10px 0 5px;
	float: left;
}
#rwe-gallery .rwe-breadcrumb li {
	font-weight: bold;
	color: #777;
}
#rwe-gallery .rwe-breadcrumb li a {
	font-weight: bold;
	padding: 0 5px 0 5px;
	margin: 0;
}
#rwe-gallery .rwe-breadcrumb li a:hover {
	text-decoration: underline;
}
#rwe-gallery .rwe-breadcrumb li:last-child {
	margin: 0 0 0 5px;
}
#rwe-gallery .rwe-breadcrumb li:first-child a {
	margin-left: 0;
	padding-left: 0;
}
#rwe-gallery .rwe-top-box {
	padding: 0;
	border-bottom: 2px solid #555;
}
#rwe-search-form {
	float: right;
	margin: 2px;
}
input#rwe-search {
	padding-left: 10px;
	margin: 2px 0;
	width: 150px;
}
#rwe-search-submit {
	display: none;
}
#rwe-gallery ul, #rwe-gallery li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
#rwe-gallery li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#rwe-gallery li img {
	padding: 5px;
}
#rwe-gallery li a {
	display: block;
	padding: 10px 10px 5px 10px;
	margin: 0;
	color: #555;
	text-decoration: none;
}
#rwe-gallery li a:hover img {
	padding: 4px;
	border: 1px solid #ccc;
}

#rwe-gallery .rwe-item-images {
	width: 55%;
	float: left;
}
#rwe-gallery .rwe-sidebox {
	min-width: 180px;
	max-width: 40%;
	float: left;
	margin-left: 3%;
}
#rwe-gallery .rwe-description {
}
#rwe-gallery .rwe-description p {
	margin: 3px 0 10px 0;
	padding: 0;
}
.rwe-share-box {
	margin: 2px 0;
	padding: 7px 3px 0;
}
.rwe-share {
	padding-right: 6px;
	float:left;
	text-align: center;
}
.rwe-share iframe {
	margin: 0;
}
#rwe-gallery .rwe-item-images {
	min-width: 200px;
}
#rwe-gallery .rwe-photo-container {
	width: 100%;
}
#rwe-gallery .rwe-item-photo {
	width: 100%;
	max-width: 100%;
}
span.rwe-desc-label {
	font-weight: bold;
	color: #777;
}
#rwe-gallery ul.rwe-item-tags li {
	text-align: left;
	padding: 0;
}
#rwe-gallery ul.rwe-item-tags li.rwe-tag-label {
	margin: 0 0 3px;
	font-weight: bold;
	color: #777;
}
#rwe-gallery ul.rwe-item-tags li a {
	margin: 0 0 3px 10px;
	padding: 0;
}
#rwe-gallery ul.rwe-item-tags li a:hover {
	text-decoration: underline;
}
#rwe-gallery ul.rwe-gallery-thumbnails {
	/* max-width: 400px; */
	margin-bottom: 10px;
}
#rwe-gallery ul.rwe-gallery-thumbnails li {
	/* width: 23%; */
	margin: 1px 2px 2px 1px;
}
#rwe-gallery ul.rwe-gallery-thumbnails li a img {
	width: 100%;
	padding: 2px;
}
#rwe-gallery ul.rwe-gallery-thumbnails li a:hover img {
	padding: 1px;
}
#rwe-gallery ul.rwe-gallery-thumbnails li a {
	padding: 0;
	margin: 0;
	line-height: 0;
}
#rwe-gallery ul.rwe-gallery-thumbnails li:last-child a {
	margin-right: 0;
}
#view-wishlist {
	position: relative;
	float: right;
	margin: 4px;
}
#wishlist {
	position: absolute;
	right: 0;
	top: 45px;
	width: 300px;
	padding: 10px;
	background-color: #eee;
	border: 1px solid #ccc;
}
#wishlist .item {
	width: 50px;
}
#wishlist #update-wishlist {
	margin: 10px 10px 10px 0;
	float: left;
}
#wishlist .submit-wishlist {
	margin: 10px 0 10px 10px;
	float: right;
}
#wishlistsubmit label {
	float: left;
	width: 200px;
	padding: 3px 10px;
	margin: 3px;
}
#wishlistsubmit input#event_date {
	width: 120px;
}
#wishlistsubmit p.error label {
	background-color: #f77;
}
#wishlistsubmit p.error input {
	background-color: #ff7;
}
.add-to-wishlist:disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}